.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(55, 55, 60);
}

.App h1{
  color:aliceblue;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  padding: 30px;
}

.project-container {
  background-color: aliceblue;
  height: 100%;
  min-width: 100%;
  min-height: 70vh;
  border-radius: 10px;
  margin-bottom: 40px;
}

.column-header{
  background-color: #48505a;
  margin: 0;
  padding: 10px;
  color: aliceblue;
  border-radius: 10px 10px 0 0;
  font-weight: 400;
}

.dropdown-menu.show{
  background-color:  rgb(55, 55, 60);
  box-shadow: 0 0 0 0.25rem rgb(11 172 204 / 50%);
}
.dropdown-item{
  color:#66FCF1;
}

.header.row {
  align-items: center;
}

#backlog-dropdowns{
  padding-top: 20px;
}

.task-list-container{
  justify-content: center;
}

#add-new-buton{
  margin-top: 20px;
}

.progress{
  background-color: #C5C6C7;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.progress-bar{
  color: aliceblue;
  font-weight: bold;
}

.progress-bar {
  background-color: #45A29E;
}

.show>.btn-info.dropdown-toggle{
  background-color:  rgb(55, 55, 60);
  color:#66FCF1;
}

.selector-row {
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn.btn-info {
  background-color: #45A29E;
  border-color: #45A29E;
  color: aliceblue;
}

.btn.btn-info:hover {
  background-color: #58b1ad;
  border-color: #45A29E;
  color: aliceblue;
}

#dropdown-basic{
  min-width: 20vw;
}

.btn-primary {
  background-color: #48505a;
  color: aliceblue;
  border: none;
  margin: 10px;
}

.btn-primary:hover {
  background-color: #595d61;
  color: aliceblue;
  border: none;
  margin: 10px;
}

.btn-primary:focus {
  background-color: #48505a;
  color: aliceblue;
  border: none;
  margin: 10px;
}

.user-icon{
  background-color: #66FCF1;
  width:30px;
  height: 30px;
  border-radius: 15px;
  color: #48505a;
  font-size: 20px;
  text-align: center;
}
.icon-div{
  display: flex;
  justify-content: right;
}

 .nav-link {
  margin-top: 10px;
  color: #1F2833;
  padding: 15px;
 }

 #logged-time{
   padding:6px;
 }

 .nav-link:hover{
   color: #2c7672;
   background-color: #e9eaeb;
 }

#custom-tab-tab-dashboard.active{
  background-color: #C5C6C7;
  color: #2c7672;
  font-weight: bold;
}

#custom-tab-tab-newSprint.active{
  background-color: #C5C6C7;
  color: #2c7672;
  font-weight: bold;
}

#custom-tab-tab-newProject.active{
  background-color: #C5C6C7;
  color: #2c7672;
  font-weight: bold;
}

#custom-tab-tab-productBacklog.active{
  background-color: #C5C6C7;
  color: #2c7672;
  font-weight: bold;
}
