.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(55, 55, 60);
}

.App h1{
  color:#66FCF1;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  padding: 30px;
}

.project-container {
  background-color: aliceblue;
  height: 100%;
  min-width: 100%;
  min-height: 70vh;
  border-radius: 10px;
  margin-bottom: 40px;
}

.dropdown-menu.show{
  background-color:  rgb(55, 55, 60);
}
.dropdown-item{
  color:#66FCF1;
}

.header.row {
  align-items: center;
}

.task-list-container{
  justify-content: center;
}

.show>.btn-info.dropdown-toggle{
  background-color:  rgb(55, 55, 60);
  color:#66FCF1;
}

.selector-row {
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn.btn-info {
  background-color: #45A29E;
  border-color: #45A29E;
  color: aliceblue;
}

#dropdown-basic{
  min-width: 30vw;
}

 .nav-link {
  margin-top: 10px;
  color: #1F2833;
 }

 .nav-link:hover{
   color: #2c7672;
   background-color: #e9eaeb;
 }

#custom-tab-tab-dashboard.active{
  background-color: #C5C6C7;
  color: #2c7672;
  font-weight: bold;
}

#custom-tab-tab-newSprint.active{
  background-color: #C5C6C7;
  color: #2c7672;
  font-weight: bold;
}

#custom-tab-tab-newProject.active{
  background-color: #C5C6C7;
  color: #2c7672;
  font-weight: bold;
}

#custom-tab-tab-productBacklog.active{
  background-color: #C5C6C7;
  color: #2c7672;
  font-weight: bold;
}
